# Orchestration file to load environment variables from the `.env` and `.secrets` files.
#
# Only used by systems with `direnv` (https://direnv.net/) installed. Environment
# variables can be read in by Python using `os.getenv` _without_ using `python-dotenv`:
#
#   ------------------------------------------------------------------------------------
#   import os
#
#   # Example variable
#   EXAMPLE_VARIABLE = os.getenv("EXAMPLE_VARIABLE")
#   ------------------------------------------------------------------------------------
#
# DO NOT STORE SECRETS HERE - this file is version-controlled! You should store secrets
# in the untracked `.secrets` file. This is loaded here using the `dotenv_if_exists`
# command.

# Add the working directory to `PYTHONPATH`; allows Jupyter notebooks in the
# `notebooks` folder to import `src`
export PYTHONPATH="$PYTHONPATH:$(pwd)"

# Load the `.env` file, and `.secrets` (if it exists)
dotenv .env
dotenv_if_exists .secrets
