# `coverage` configurations
[tool.coverage.run]
source = [
    "./hooks",
    "./{{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name.lower().replace(' ', '_').replace('-', '_') }}"
]
omit = [
    "./{{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name.lower().replace(' ', '_').replace('-', '_') }}/run_pipeline.py"
]

[tool.coverage.omit]

[tool.coverage.report]
exclude_lines = [
    "if __name__ == .__main__.:"
]

# `isort` configurations
[tool.isort]
profile = "black"

# `pytest` configurations
[tool.pytest.ini_options]
addopts = [
    "-vv",
    "--doctest-modules",
    "--ignore='./docs/'",
    "--ignore='./example/'",
    "--ignore='./{{ cookiecutter.repo_name }}/docs/'"
]
doctest_optionflags = "NORMALIZE_WHITESPACE"
testpaths = [
    "./tests"
]

# `bandit' configurations
[tool.bandit]
exclude_dirs = ["tests", "docs"]
skips = []
