cookiecutter
coverage
detect-secrets==1.0.3
#pytest-cookies
git+https://github.com/Jacobb164/pytest-cookies
govuk-tech-docs-sphinx-theme
importlib-metadata<5.0;pyython_version == '3.7'
myst-parser
pre-commit
pytest
pytest-mock
pytest-xdist
Sphinx
toml