cookiecutter
coverage
detect-secrets==1.0.3
#pytest-cookies
git+https://github.com/Jacobb164/pytest-cookies
jinja2-time
myst-parser
pre-commit
pytest
pytest-mock
pytest-xdist
python-dotenv
Sphinx
sphinx_rtd_theme
toml
