# Environment variables go here, and can be read in by Python using `os.environ.get`:
#
#   --------------------------------------------------------
#   import os
#
#   EXAMPLE_VARIABLE = os.environ.get("EXAMPLE_VARIABLE")
#   --------------------------------------------------------
#
# DO NOT STORE SECRETS HERE - this file is version-controlled.

# Add the working directory to PYTHONPATH; allows Jupyter notebooks in the `notebooks` folder to import `src`
export PYTHONPATH=$PYTHONPATH:$(pwd)