/* Sets colour for highlighted text */
span.highlighted {
    background-color: #ffdd00;
}

/* Sets correct formatting for footnotes */
a.brackets:before, span.brackets > a:before {
    content: "[";
}

a.brackets:after, span.brackets > a:after {
    content: "]";
}

dl.footnote > dt, dl.citation > dt {
    float: left;
    margin-right: 0.5em;
}

dl.footnote > dd:after, dl.citation > dd:after {
    content: "";
    clear: both;
}

/* Sets background of `<blockquote>` tags to the `<main>` background colour */
.technical-documentation blockquote {
    background: inherit;
}

/* Sets equation reference numbers to the right of the equation */
span.eqno {
    float: right;
}

/* Set tables to be auto-width */
table.colwidths-auto {
    display: block;
}

/* Right align table columns */
th.text-align\:right.head, td.text-align\:right {
    text-align: right;
}

/* GOV.UK Design System notification banner */
.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8
}

@media print {
    .govuk-notification-banner {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-notification-banner {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner {
        margin-bottom:50px
    }
}

.govuk-notification-banner:focus {
    outline: 3px solid #fd0
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__header {
        padding:2px 20px 5px
    }
}

.govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff
}

@media print {
    .govuk-notification-banner__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__title {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-notification-banner__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff
}

@media print {
    .govuk-notification-banner__content {
        color: #000
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__content {
        padding:20px
    }
}

.govuk-notification-banner__content>* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 605px
}

.govuk-notification-banner__content>:last-child {
    margin-bottom: 0
}

.govuk-notification-banner__heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin: 0 0 15px 0;
    padding: 0
}

@media print {
    .govuk-notification-banner__heading {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__heading {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-notification-banner__heading {
        font-size: 18pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media print {
    .govuk-notification-banner__link {
        font-family: sans-serif
    }
}

.govuk-notification-banner__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.govuk-notification-banner__link:link {
    color: #1d70b8
}

.govuk-notification-banner__link:visited {
    color: #1d70b8
}

.govuk-notification-banner__link:hover {
    color: #003078
}

.govuk-notification-banner__link:active {
    color: #0b0c0c
}

.govuk-notification-banner__link:focus {
    color: #0b0c0c
}

.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:link,.govuk-notification-banner--success .govuk-notification-banner__link:visited {
    color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:hover {
    color: #004e2a
}

.govuk-notification-banner--success .govuk-notification-banner__link:active {
    color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:focus {
    color: #0b0c0c
}

/* GOV.UK h1 styles */
.technical-documentation > section > h1, .govuk-heading-xl {
  color: #0b0c0c;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px; }
  @media print {
    .technical-documentation > section > h1, .govuk-heading-xl {
      color: #000000; } }
  @media print {
    .technical-documentation > section > h1, .govuk-heading-xl {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .technical-documentation > section > h1, .govuk-heading-xl {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1.0416666667; } }
  @media print {
    .technical-documentation > section > h1, .govuk-heading-xl {
      font-size: 32pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .technical-documentation > section > h1, .govuk-heading-xl {
      margin-bottom: 50px; } }
  .technical-documentation > section > h1:first-of-type {
    padding-top: 30px; }
  .technical-documentation h1 code, .technical-documentation h2 code, .technical-documentation h3 code, .technical-documentation h4 code, .technical-documentation h5 code, .technical-documentation h6 code {
    font-size: inherit;
    color: #0b0c0c;
    background: none;
    padding: 0; }
